[submodule "lib/etask_wifi"]
	path = lib/etask_wifi
	url = git@github.com:vanceb/etask_wifi.git
[submodule "lib/etask_ota"]
	path = lib/etask_ota
	url = git@github.com:vanceb/etask_ota.git
[submodule "lib/etask_serial_clock"]
	path = lib/etask_serial_clock
	url = git@github.com:vanceb/etask_serial_clock.git
[submodule "lib/etask_rgbpanel_clock"]
	path = lib/etask_rgbpanel_clock
	url = git@github.com:vanceb/etask_rgbpanel_clock.git
